/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@font-face {font-family: Sawesome; src: url('assets/sawesome.ttf');}

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("assets/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}